/* style001.css */

body
{
    background-color: rgb(40, 40, 40);
    font-size: 20px;
    color: rgb(255, 255, 255);
}

textarea
{
    background-color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 24px;
    color: rgb(255, 255, 255);
}

button
{
    padding: 5px 10px;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    color: rgb(255, 255, 255);
}

button:hover
{
    border-color: rgb(0, 255, 255);
}

button:active
{
    position: relative;
    top: 1px;
    color: rgb(255, 0, 255);
}

/*----*/

/* Dedicated to God the Father */
/* All Rights Reserved Christopher Andrew Topalian Copyright 2000-2026 */
/* https://github.com/ChristopherTopalian */
/* https://github.com/ChristopherAndrewTopalian */
/* https://sites.google.com/view/CollegeOfScripting */

